div .entry {
    max-width: 430px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  #legend {
    display: flex;
    align-items: center;
    max-width: 190px;
    margin: 0;
  }
  
  .cate {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 130px;
  }
  
  input{
    background-color: #2e2e2e;
    color: white;
    max-width: 40px;
    border-bottom: 2px solid white;
    text-align: right;
  }
  
  #percent {
    padding-right: 7px;
    border-bottom: 2px solid white;
    color: rgb(187, 187, 187);
    text-align: left;
  }
  
  .entry-box-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 25px;
    margin-top: 0;
  }
  #total {
    display: flex;
    justify-content: flex-end;
    margin: 25px;
    margin-right: 35px;
  }